/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background-color: #FCF7FF;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  padding-top: 40px;
  font-family: Arial, sans-serif;
}


h1 {
  margin-bottom: 15px;
}


p {
  max-width: 900px;
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 2.0rem;
  font-weight: 50;
  color: #000000;
}


.btn-group {
  display: flex;
  gap: 200px;
  margin-bottom: 200px;

  justify-content: center;
  align-items: center;

  flex: 1; 
}


.btn-group a {
  display: inline-block;
  text-decoration: none;

  font-size: 28px;
  padding: 40px 90px;

  border-radius: 15px;
  font-weight: bold;

  background:#FD87DF;
  color: #f2f5ff;

  transition: 0.3s;
}

.btn-group a:hover {
  transform: scale(1.05);
  background: #7C90DB;
}

.message {
  color: #87af6b;
  border-radius: 8px;
  justify-content:center;
  text-align:center;
  display:flex;
}
